@model PUp.Models.Entity.ProjectEntity
@{
    ViewBag.Title = "List of contributors";
}
@using PUp.Models.Entity
@{
    var contributors = new HashSet<UserEntity>();
    contributors.Add(Model.Owner);
    foreach (var c in Model.Contributors)
    {
        contributors.Add(c);
    }
}
 
    
    <div class="col-md-12">

        <div class="row">
            @Html.Partial("_ProjectHeader", Model)
        </div>
        <br />
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <b>Contributors list</b>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Email</td>
                                <td style="width:2%;"></td>
                            </tr>
                        </thead>
                        <tbody>
                            @{int index = 0;}
                            @foreach (var contributor in contributors)
                            {
                                <tr>
                                    <td>@contributor.Name </td>
                                    <td>@contributor.Email</td>
                                </tr>
                                index++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>

