@model  PUp.Models.Entity.ProjectEntity
@{
    ViewBag.Title = "Matrix ";
}


<div class="container">
    <div class="col-md-12">
        <div class="row">

            <table class="table table-bordered table-striped">
                <tr>
                    <td>
                        <i>Important and Urgent</i>
                    </td>
                    <td>
                        <i>Important and NOT Urgent</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i>NOT Important and Urgent</i>
                    </td>
                    <td>
                        <i>NOT Important and NOT Urgent</i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>