@model  PUp.ViewModels.Project.MatrixViewModel
@{
    ViewBag.Title = "Matrix ";
}

<div class="container">
    <div class="col-md-12">
        <div class="row">
             @Html.Partial("_ProjectHeader",Model.Project)
        </div>
        <br /><br />
        <div style="max-height:600px;overflow:auto;font-size:11px;">
            @Html.Partial("_Timeline", Model)
        </div>
    </div>
</div>