<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured task and project management...">
    <meta name="author" content="mohamed.boullouz@gmail.com">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="~/Scripts/images/favicon.ico">

    <!-- App title -->
    <title>Project follow up</title>


</head>


<body>

    @RenderBody()

</body>
</html>