
@{
    ViewBag.Title = "My DashBorad";
}


<div class="row">
    <div class="col-md-12">
        <h2>My DashBorad</h2>

        <div class="col-md-6" style="background: rgba(158, 158, 158, 0.19);">Current-Day</div>
        <div class="col-md-6" style="background: rgba(255, 235, 59, 0.36);">Planification</div>



    </div>
</div>
