
<div style="text-align:center;padding:15%;">
    <h1><u>Project follow-up Server</u></h1>
    <br /><br />
    <h1 style="color:green;">The Server is running </h1>
    <h1>Server is ready to accept requests </h1>
</div>